<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dream</title>
    <!-- Bootstrap Styles-->
    <link href="../assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../assets/css/font-awesome.css" rel="stylesheet"/>
    <link href="../assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<!--顶部-->
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">微信自助平台</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>我的资料</a>
                    </li>

                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>


    <!--左侧导航栏-->

    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse" id="app">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="index.html"><i class="fa fa-dashboard"></i> 号码验证</a>
                </li>
                <li>
                    <a href="history.html"><i class="fa fa-desktop"></i> 验证历史</a>
                </li>
                <li v-if="privileges.user_register" >
                    <a  class="active-menu" href="register.html">
                            <i class="fa fa-tasks fa-fw"></i> 添加账户
                    </a>
                </li>
            </ul>
        </div>

    </nav>


    <!--中间内容主体-->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="well col-md-6 col-centered">
                <form class="form-horizontal" role="form">
                    <div class="form-group"><label for="userName" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-4"><input class="form-control" type="text" id="userName"
                                                     placeholder="请输入用户名"></div>
                    </div>
                    <div class="form-group"><label for="password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-4"><input class="form-control" type="password" id="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" onclick="register()" class="btn btn-primary">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>



        function register() {
            var userName = $("#userName").val();
            var password = $("#password").val()
            if (!userName) {
                alert("请输入用户名");
                return;
            }
            if (!password) {
                alert("请输入密码");
                return;
            }
            var formData = {
                "userName": userName,
                "password": $.md5(password)
            }
            formPost4Json("/user/register", formData, function (data, httpOptions, status) {
                if (checkErrorDatas(data, httpOptions)) {
                    alert("注册成功");
                }
            });
        }


    </script>


</div>

</body>
<script src="../assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/httpUtil.js"></script>
<script src="../assets/js/platform.js"></script>
<script src="../assets/js/common.js"></script>
<script src="../assets/js/jquery.md5.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    $(function(){
        var app = new Vue({
            el: '#app',
            data: {
               privileges: getCacheFromSessionStorage("privileges")
            }
        })
    });
</script>

</html>